<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="google-colors">
        <h1 class="upstyle-letter" id="upstyle-w">U</h1>
        <h1 class="upstyle-letter" id="upstyle-w">P</h1>
        <h1 class="upstyle-letter" id="upstyle-w">S</h1>
        <h1 class="upstyle-letter" id="upstyle-w">T</h1>
        <h1 class="upstyle-letter" id="upstyle-w">Y</h1>
        <h1 class="upstyle-letter" id="upstyle-w">L</h1>
        <h1 class="upstyle-letter" id="upstyle-w">E</h1>
      </div>
      <!-- Adding GIFs below the UPSTYLE text -->
      <div class="gif-container">
        <img
          src="https://media.glamour.com/photos/5695d2c093ef4b09520ef0d1/master/w_1600,c_limit/fashion-2013-03-0304-chanel.gif"
        />
        <img
          src="https://media.glamour.com/photos/5695d2c1d9dab9ff41b4710d/master/w_1600,c_limit/fashion-2013-03-0304-chloe.gif}"
        />
      </div>
      <div class="input-box" onclick="sendFocus()">
        <img src="{{ url_for('static', filename='images/mag.png') }}" />
        <input
          placeholder="Search for an aesthetic"
          id="filter-text-val"
          onkeyup="filterText()"
        />
      </div>
    </div>
    <div id="answer-box"></div>
  </div>

  <script>
    function answerBoxTemplate(
      title,
      price,
      titleDesc,
      url,
      image,
      stars,
      svdDimensions
    ) {
      let imageHTML = "";
      if (image && image.trim() !== "") {
        const imageStyle = "max-width: 400px; max-height: 300px;";
        imageHTML = `<a href="${url}" target="_blank"><img src="${image}" alt="${title}" class="clothing-image" style="${imageStyle}"></a>`;
      }
      const nameWithPrice = `${title} - ${price}`;

      let svdHTML = '';
      svdHTML += `<br><br>Casual Dimension: ${svdDimensions[0].toFixed(2)}%<br>`;
      svdHTML += `Pants Dimension: ${svdDimensions[1].toFixed(2)}%<br>`;
      svdHTML += `Dress Dimension: ${svdDimensions[2].toFixed(2)}%<br>`;
      svdHTML += `Denim Dimension: ${svdDimensions[3].toFixed(2)}%<br>`;
      svdHTML += `Sportswear Dimension: ${svdDimensions[4].toFixed(2)}%<br>`;
      

      return `<a href="${url}" target="_blank">
                <div style="display: flex; justify-content: space-between;">
                  <h3 class='clothing-item'>${nameWithPrice}</h3>
                  <div style="align-self: center;">${generateStarRating(
                    stars
                  )}</div>
                </div>
              </a>
              <div class='information'>
                <div class="image-container">
                  ${imageHTML}  
                </div>
                <p class='clothing-desc'>${titleDesc} \n${svdHTML}</p>
              </div>`;
    }

    function generateStarRating(stars) {
      const starIcon = "&#9733;";
      let starsHTML = "";
      for (let i = 0; i < stars; i++) {
        starsHTML += `<span>${starIcon}</span>`;
      }
      return starsHTML;
    }

    function sendFocus() {
      document.getElementById("filter-text-val").focus();
    }

    function filterText() {
      document.getElementById("answer-box").innerHTML = "";
      console.log(document.getElementById("filter-text-val").value);
      fetch(
        "/tshirts_and_tops?" +
          new URLSearchParams({
            title: document.getElementById("filter-text-val").value,
          }).toString()
      )
        .then((response) => response.json())
        .then((data) =>
          data.forEach((row) => {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = answerBoxTemplate(
              row.Name,
              row.Price,
              row.Description,
              row.Item_URL,
              row.Image_URL,
              row.Stars,
              row.SVD_Dimensions
            );
            document.getElementById("answer-box").appendChild(tempDiv);
          })
        );
    }
  </script>
</body>
